// Primary color
$green: #53C351
$darkgreen: #1C3A27
// Secondary color
$lightgreen: #E2EEEC
$richgreen: #254330
// Text color
$title: #254330
$textbody: #808080
$infield: #CCCCCC
$white: #FFFFFF
$black: #000
// Other color
$hovergreen: #359433
*
    font-family: "Inter", sans-serif
.main-section
    background-color: $richgreen
.green-btn
    background-color: $green
    color: $white
a
    text-decoration-color: $green
    color: $white